# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/
.pytest_cache/
.coverage

# Envs
env/
venv/
.venv/
.env

# OS / IDE
.DS_Store
.vscode/
.idea/

# Local data
db.sqlite3
neo4j_data/
neo4j_logs/
neo4j_import/
